<h1>About Us</h1>
<p>
	Welcome to TEAM5OAGS!  TEAM 5 is an online art gallery that sells contemporary European and North American fine
    art including lithographs, high-quality prints, original paintings, and photographs.  Our online gallery includes
    works from famous artists such as Wassily Kandinsky, Henri Matisse, Mark Tobey, Morris Graves, Guy Anderson, and
    Paul Horiuchi.  Our gallery also includes art pieces from Northwest and Northwest Maritime schools.  Whatever
    artist preferences you have, you can count on TEAM 5 to fulfill your artwork needs!
</p>