<h1>Contact Us</h1>
<p>
  Customer satisfaction is our priority and TEAM 5 strives to ensure that its customers have a positive shopping
  experience.  If you have any questions or comments about us or this website, please send us an email by filling out
  the form below.
</p>
<p>
  Please note that depending on our business hours or the amount of activity taking place in our business operations,
  it may take a few days for you to receive a response.
</p>
