<!-- LOGIN _default_header.html.erb -->
<header>
  <div class="logo">
    <% logo = image_tag('team5logo.png', :alt => 'TEAM5OAGS') %>
    <%= link_to logo, root_path %>
  </div>
  <div class="header_controls">
    <%= link_to 'Help', '#' %>
  </div>
</header>