/*************** GLOBAL ***************/
h1, h2, h3, h4 {
    color: #bb0000;
}

.container {
  width: 880px;
  background: #fff;
  margin: auto;
}

body {
    font-family: Arial;
    font-size: 12px;
}

/*************** MASTER TEMPLATE - HEADER ***************/

header {
   /* background-color: gray;*/
    background-image: url('team5header.png');
  height: 115px;
}

div#logo {
    padding: 10px 10px 10px 0;
    float: left;
    width: 115px;
}

div#header_controls {
   /* background-color: orange;*/
  padding: 10px 10px 0 10px;
    float: right;
}

div#login_controls {
    /*background-color: greenyellow;*/
    text-align: right;
    height: 42px;
    padding-right: 10px;
}

div#login_controls a {
    text-decoration: none;
    color: black;
}

div#login_controls a:hover {
    text-decoration: underline;
}

div#login_controls a:visited {

}

/*************** MASTER TEMPLATE - NAVIGATION MENU ***************/

div#navigation {
    float: right;
    padding: 0;
    font-weight: bold;
    /*background-color: yellow;*/
}
.navigation {
    font-family: YearlingLite;
    font-size: 18px;
}

.navigation ul {
  list-style: none;
  text-align: right;
}

.navigation li {
  display: inline;
}

.navigation li a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
    color: black;
}

.navigation li a:visited {

}

.navigation li a:hover {
  text-decoration: underline;
}


/*************** MASTER TEMPLATE - FOOTER ***************/
/* Note that the sum of the top padding and height must be 105, the height of the footer image */
footer {
    padding-top: 11px;
    text-align: center;
    height: 94px;
    background-image: url('team5footer.png');

}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

footer a:visited {

}


/* MAIN CONTENT */

.main_content {
    padding-left: 10px;
    padding-right: 10px;
}

.flexslider {

}