<!-- EMPLOYEE _default_header.html.erb -->
<header>
  <div id="logo">
    <% logo = image_tag('team5logo_mini.png', :alt => 'TEAM5OAGS') %>
    <%= link_to logo, '#' %><!-- employee_home_path -->
  </div>
  <div id="header_controls">
    <!-- This login_controls div may be an AJAX template -->
    <div id="login_controls">
      <%= link_to 'My Account', '#' %> | <%= link_to 'Messages', '#' %> | <%= link_to 'Logout', '#' %>
    </div>
  </div>
</header>